<div class="flex gap-2">
    <div>
        <input (change)="handleChangeInput1()" [(ngModel)]="value1" type="number" class="px-1 w-24 bg-transparent outline-none border border-white rounded-sm"/>
        <select [(ngModel)]="cur1" class="bg-transparent outline-none cursor-pointer">
            <option value="usd">USD</option>
            <option value="uah">UAH</option>
            <option value="eur">EUR</option>
            <option value="pln">PLN</option>
        </select>
    </div>
    <div>
        <input (change)="handleChangeInput2()" [(ngModel)]="value2" type="number" class="px-1 w-24 bg-transparent outline-none border border-white rounded-sm"/>
        <select [(ngModel)]="cur2" class="bg-transparent outline-none cursor-pointer">
            <option value="uah">UAH</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="pln">PLN</option>
        </select>
    </div>
</div>
